<mat-toolbar>
    <mat-toolbar-row>
      <a style="color: white" routerLink="/" class="marvel">Marvel</a><a routerLink="/" class ="bold" style="color: yellow"> INIT</a>
      <span class=example-spacer></span>
      <span matRipple class="menu">
        <img [matMenuTriggerFor]="menu" src="../../assets/icons/justify_64.svg" alt="menu">
          <mat-menu #menu="matMenu" class="mat-menu">
             <button mat-menu-item routerLink="/characters">
              <mat-icon><img src="../../assets/icons/Group%204.svg"></mat-icon>
              <span class="curve">Characters</span>
             </button>

            <button mat-menu-item>
              <mat-icon style="color: #57dc51">info</mat-icon>
              <span class="curve">About</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item *ngIf="user" routerLink="/profile">
              <mat-icon style="color: #3d6dff">account_circle</mat-icon>
              <span class="curve">Profile</span>
            </button>

            <button mat-menu-item *ngIf="!user" routerLink="/login">
              <mat-icon style="color: #3d6dff">security</mat-icon>
              <span class="curve">Sign In</span>
            </button>

            <button mat-menu-item *ngIf="!user" routerLink="/signup">
              <mat-icon style="color: #ff5910">security</mat-icon>
              <span class="curve">Sign Up</span>
            </button>
            <mat-divider *ngIf="user"></mat-divider>
            <button mat-menu-item *ngIf="user" (click) = "auth.signOut()">
              <span class="curve">Log Out</span>
            </button>
          </mat-menu>
      </span>
    </mat-toolbar-row>
</mat-toolbar>
