@import url('https://fonts.googleapis.com/css?family=Anton&display=swap')

.marvel
  font-family: 'Anton', sans-serif
  font-size: 2rem
  padding-left: .3em
  padding-right: .3em

mat-toolbar
  background: #e62320
  color: white
  position: fixed
  z-index: 2

.example-spacer
  flex: 1 1 auto

.menu
  height: 50px
  width: 50px
  padding-top: 10px
  border-radius: 100%

mat-icon
  img
    margin-top: -4px

button
  span
    color: #5a5a5a

