<div class="wrapper">
  <app-loading *ngIf="!group || !characters"></app-loading>
  <main *ngIf="group && characters" class="animated fadeIn">
    <div class="heading">
      <h1 class="is-size-1 gradient bold">{{ group.name }}</h1>
    </div>
    <div class="bio">
      {{group.bio}}
    </div>
    <div class="btn-container">
        <button mat-flat-button color ="primary" class="curve">Read More</button>
    </div>
    <img [src]="group.photoUrl" class="image">
    <div class="heading"><h1 class="is-size-2 gradient bold">Characters</h1></div>
    <div style="width: 100%; text-align:center;">
      <button mat-button color="primary" *ngIf="isAdmin" class="curve has-text-white" (click)="createCharacter()">Add Character</button>
    </div>
    <section class="boxes">
      <div class="box" *ngFor="let character of characters">
        <h3 class="is-size-3 bold has-text-white">{{character.name}}</h3>
        <p class="has-text-white">{{character.description}}</p>
        <mat-divider style="margin-top: 10px"></mat-divider>
        <div routerLink="/characters/{{ character.id }}" class="icon-div">
          <span class="gap"></span>
          <div class="icon-div"><mat-icon class="icon">arrow_forward_ios</mat-icon></div>
        </div>
      </div>
    </section>
  </main>
</div>
