.wrapper
  padding-top: 60px
  .cards
    text-align: center
  main
    text-align: center
    padding-top: 1em
    h1
      color: white

.card
  width: 450px
  padding-bottom: 40px
  max-width: 450px
  display: inline-block !important
  margin: 2em
  box-shadow: 0 0 5px #ff3902
  background: #2c2c2c
  color: white
  img
    border-radius: 10px

@media all and (max-width: 700px)
  .card
    width: 90%
    margin: 5%
