<section class="wrapper">

  <main>
    <h1 class="is-size-1 bold animated fadeInDown">Characters</h1>
  </main>

  <div class="cards">
    <mat-card class="card curve animated fadeInUp" routerLink="/characters/2">
      <mat-card-header style="text-align: left;">
        <mat-card-title>Thor</mat-card-title>
        <mat-card-subtitle>God Of Thunder</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/wp4322561-avengers-endgame-thor-wallpapers.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="is-size-3 bold">
          Thor Odinson
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button routerLink="/" class="curve">Write Something</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="card curve animated fadeInUp" routerLink="/characters/2">
        <mat-card-header style="text-align: left;">
          <mat-card-title>Thor</mat-card-title>
          <mat-card-subtitle>God Of Thunder</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/wp4322561-avengers-endgame-thor-wallpapers.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="is-size-3 bold">
            Thor Odinson
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button routerLink="/" class="curve">Write Something</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card curve" routerLink="/characters/2">
      <mat-card-header style="text-align: left;">
        <mat-card-title>Thor</mat-card-title>
        <mat-card-subtitle>God Of Thunder</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/wp4322561-avengers-endgame-thor-wallpapers.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="is-size-3 bold">
          Thor Odinson
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button routerLink="/" class="curve">Write Something</button>
      </mat-card-actions>
    </mat-card>

  </div>

</section>

<app-footer></app-footer>
