.wrapper
  padding-top: 65px

.title
  margin-left: 20px
  background: -webkit-radial-gradient(#7a00ee, red)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.gradient
  background: -webkit-radial-gradient(#9200ee, #ff000f)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

section
  width: 100%
  padding: 5%
  text-align: center

aside
  button
    margin-top: 20px
    background-color: #7a00ee
    font-size: 1.15em

h3
  color: white

.box
  box-shadow:  0 17px 20px -11px rgba(147, 0, 255, 0.75)
  border-radius: 10px
  padding: 	2% 5% 2%
  margin-top: 30px
  overflow: hidden

.icon-div
  width: 100%
  .gap
    flex: 1 1 auto
  .icon
    color: white
    margin: 2%
