<main class="showcase has-text-white">
  <h1 class="is-size-1">
    <span class="marvel">Marvel</span> Initiative
  </h1>
  <br>
  <div id="text">
    <p class="is-medium">Marvel Init is a place where you can create/read blog, predictions and much more about almost all the characters in the Cinematic Universe. </p>
    <p class="is-medium">Want to know more, then HULK SMASH the explore button, to see what we can offer.</p>
  </div>
  <br><button class="bold" style ="background-color: #e62320" mat-flat-button color="warn">Explore</button>
</main>
