<main class="showcase has-text-white">
  <div class="container">
    <h1 class="is-size-1">
      <span class="marvel">Marvel</span><br> Initiative
    </h1> <div id="text">
    <p class="is-medium" >Marvel Init is a place where you can create/read blog, predictions and much more about almost all the characters in the Cinematic Universe
      <br>If you want to know more, then HULK SMASH the explore button, to see what we can offer. </p>
  </div>
    <div class="gap"></div>
    <button class="bold" style ="background-color: #e62320" mat-flat-button color="warn" routerLink="/characters">
      Explore
    </button>
  </div>
</main>

