.showcase
  padding: 2em
  padding-top: 3.5em
  height: 100vh
  background: url("../../assets/images/wp3891762-avengers-endgame-wallpapers.jpg"), center
  background-repeat: no-repeat
  background-size: 100%

// Media Queries

@media all and (max-width: 1000px)
  .showcase
    background-size: 150%

@media all and (max-width: 700px)
  .showcase
    background-size: 200%

@media all and (max-width: 500px)
  .showcase
    background: url("../../assets/images/wp4077738-avengers-phone-wallpapers.jpg"), 70% 50%, no-repeat
    background-size: 100%
